* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}
a {
    text-decoration: none;
}
.cabezera_global {
    background-color: rgb(233, 186, 31);
}
.cabezera_global_items {
    display: flex;
    justify-content: center;
}
.cabezera_global_items img{
    width: 50px;
    border-radius: 50px;
}
.cabezera_global_items_links{
    list-style: none;
    display: flex;
    margin-top: 30px;
    margin: 0 90px;
    align-items: center;
}
.text{
    padding: 10px;
    color: black;
    margin-left: 50px;
}

.cabezera_global_items_links ul li:hover{
    border-radius: 10px;

}

.cabezera_global_items_links a:hover{
    background-color: brown;
    border-radius: 100px;
    color: blue;
}


.contenedorProductos{
    margin: 100px auto;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.productos img {
    width: 200px;
    height: 300px;
    margin: 10px 100px;
    image-rendering: -webkit-optimize-contrast;
}

.productos button {
    font-size: 18px;
    color: blueviolet;
    background-color: antiquewhite;
}

.productos {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

footer {
    background-color: burlywood;
    height: 300px;
    text-align: center;
}

.buscadorMaster {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.buscador {
    text-align: center;
    margin-left: 10px;
}

#contenedorCarrito {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: -5;
    width: 100%;
    border: 2px red solid;
    background-color: azure;
}

.carrito2 img{
    width: 150px;
    height: 200px;
}

.carrito p {
    width: 100%;
}

.carrito2 {
    margin: 0 10px;
    text-align: center;
    
}
.total {
    grid-column: 1 / 8;
    grid-row: 2;
    background-color: azure;
    border: 1px blue solid;
    text-align: center;

}

.carrito1{
    margin-bottom: 30px;
}

.titulo {
    text-align: center;
    border: 1px rebeccapurple solid;
    margin-top: 50px;
    background-color: azure;
}